/**
 * Tabs used to toggle content areas.
 *
 * @since Symphony 2.3
 */


 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";


ul.tabs {
	position: relative;
	clear: both;
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 10;
	font-size: 85%;
	text-transform: uppercase;
}

ul.tabs li {
	display: block;
	position: relative;
	float: left;
	box-sizing: border-box;
	margin: 0 @spacing-smallest 0 0;
	color: @dark-grey;
	list-style-type: none;
	border-bottom: @bdr-current fade(@dark-grey, 0);
	cursor: pointer;
	cursor: pointer;
}

ul.tabs li:last-of-type {
	margin-right: 0;
}

ul.tabs li:hover {
	border-bottom-color: @dark-grey;
}

ul.tabs .selected,
ul.tabs .active,
ul.tabs .invalid.selected,
ul.tabs .invalid.selected:hover {
	color: @color-current;
	border-bottom-color: @color-current;
	z-index: 1000;
}

ul.tabs .selected:before {
	content: '';
	display: block;
	position: absolute;
	left: -0.4rem;
	bottom: -0.1rem;
	width: 0.3rem;
	height: 0.3rem;
	border: none;
	border-right: 0.1rem solid #ccc;
	border-bottom: 0.1rem solid #ccc;
	border-radius: 0 0 0.2rem 0;
}

ul.tabs .selected:after {
	content: '';
	display: block;
	position: absolute;
	right: -0.4rem;
	bottom: -0.1rem;
	width: 0.3rem;
	height: 0.3rem;
	border: none;
	border-bottom: 0.1rem solid #ccc;
	border-left: 0.1rem solid #ccc;
	border-radius: 0 0 0 0.2rem;
}

/* Destructor */

ul.tabs a.destructor,
ul.tabs .selected.invalid a.destructor {
	margin: 0 -0.4rem 0 0;
	padding: 0 0 0 0.5rem;
	color: rgba(0, 0, 0, 0.15);
	line-height: 1;
	border-bottom: none;
	text-shadow: 0.1rem 0.1rem #fff;
}

ul.tabs :hover a.destructor,
ul.tabs .selected.invalid:hover a.destructor {
	color: rgba(0, 0, 0, 0.2);
}

ul.tabs a.destructor:hover,
ul.tabs .selected a.destructor:hover {
	color: rgba(0, 0, 0, 0.5);
}

/* Invalid tabs */

ul.tabs .invalid {
	color: rgba(255, 255, 255, 0.7);
	border-color: #b21;
	background: #d42;
	box-shadow: none;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(187, 34, 17, 1);
}

ul.tabs .invalid:hover {
	color: rgba(255, 255, 255, 0.9);
}

ul.tabs .invalid a.destructor {
	color: #fb9;
	text-shadow: none;
}

/* Tabs in context area */

#context ul.tabs {
	margin: 2rem 0 0 -1.1rem;
}
