/**
 * Backend tables
 */



 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";


table {
	width: 100%;
	margin-top: @spacing-smaller;
	border-collapse: collapse;
	font-size: 85%;
}

table.fixed {
	overflow-wrap: break-word;
	word-wrap: break-word;
	table-layout: fixed;
}

th {
	padding-right: @spacing-small;
	color: @dark-grey;
	font-weight: normal;
	line-height: 2;
	text-align: left;
	white-space: nowrap;
}

td {
	padding: @spacing-smallest @spacing-smaller @spacing-smallest 0;
	border-top: @bdr-current @lighter-grey;
	border-bottom: @bdr-current @lighter-grey;
	background-color: @lightest-grey;
	line-height: 1.325;
	vertical-align: middle;
}

th:first-child,
td:first-child {
	padding-left: @spacing-smaller;
	min-width: @spacing-mid;
	padding-right: @spacing-small;

}

@media screen and (max-width: 700px) {
	td, th {
		width: 0;
		display: none;
	}
	th:first-child,
	td:first-child {
		width: 100%;
		display: block;
	}
}

tr:nth-child(even) td {
	background-color: transparent;
}

tbody a {
	padding-top: @spacing-micro;
}

table input {
	float: right;
	margin-right: @spacing-smaller;
}

th span {
	float: left;
	overflow: hidden;
	max-width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

th a {
	border-bottom: none;
}

th a,
th a:hover,
th a:hover:after {
	color: @dark-grey;
}

th a:after {
	color: @grey;
	font-size: .875em;
}

th a:active,
th a.active,
th a.active:after {
	color: @color-current;
}

th a:after,
th a.active:hover:after,
th a.active[href$=asc]:after {
	content: '\2193';
	margin-left: @spacing-micro;
}

th a.active:after,
th a[href$=asc]:after,
th a.active[href$=asc]:hover:after {
	content: '\2191';
}

table.busy td {
	border-top: @bdr-current @lighter-grey;
	border-bottom: @bdr-current @lighter-grey;
	background-color: @white;
}

table.busy tr:nth-child(odd) td {
	border-top: @bdr-current @lighter-grey;
	border-bottom: @bdr-current @lighter-grey;
	background-color: @lightest-grey;
}

table.busy a {
	color: @blue;
}

table + fieldset {
	margin-top: @spacing-mid !important;
}

td img {
	vertical-align: middle;
}

/*-----------------------------------------------------------------------------
	Selectable rows
-----------------------------------------------------------------------------*/

table.selectable input {
	display: none;
}

tr.selected td {
	border-top: @bdr-current @lighter-grey;
	border-bottom: @bdr-current @lighter-grey;
	background-color: @dark-grey;
}

tr:nth-child(odd).selected td {
	background: @dark-grey;
}

tr.selected td,
tr.selected a,
tr.selecting td,
tr.selecting a {
	color: @white;
}

tr.selected td a:hover {
	color: @white;
	border-bottom-color: @white;
}

tr.selected td a:focus {
	color: @white;
	border-bottom-color: @white;
}

tr.selected .inactive,
tr.selected i {
	color: @white;
}

/*-----------------------------------------------------------------------------
	Orderable rows
-----------------------------------------------------------------------------*/

tr.ordering {
	cursor: move;
}

tr.ordering td,
tr:nth-child(odd).ordering td {
	border-top: @bdr-current #2d466a;
	border-bottom: @bdr-current #3c5e8e;
	background-color: #4870a9;
	text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

tr.ordering td,
tr.ordering a {
	color: @white;
}

/*-----------------------------------------------------------------------------
	Status information
-----------------------------------------------------------------------------*/

tr[class*=status-] {
	border-left-width: 0.8rem;
	border-left-style: solid;
}

tr.status-notice {
	border-left-color: #f9ba4b;
}

tr.status-ok {
	border-left-color: #90c648;
}

tr.status-error {
	border-left-color: #c4301e;
}

tr[class*=status-].selected {
	border-left-color: #4967a1;
}

tr[class*=status-] td:first-of-type {
	padding-left: 1.5rem;
}

tr[class*=status-] a:first-of-type::after {
	content: attr(data-status);
	color: transparent;
	border-bottom: 1px solid @lightest-grey;
}

tr[class*=status-]:nth-child(even) a:first-of-type::after,
tr[class*=status-]:nth-child(even):hover a:first-of-type::after {
	border-bottom-color: @white;
}

tr[class*=status-]:hover a:first-of-type::after {
	color: #b4b4b4;
}
