/**
 * Grids and columns
 *
 * @since: Symphony 2.3
 */


 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";

/*-----------------------------------------------------------------------------
	General column definitions
-----------------------------------------------------------------------------*/

.columns {
	.flex(~'row', ~'baseline', ~'flex-start');
	margin-left: -@spacing-smallish;

	legend {
		margin: 0 0 0 -@spacing-smaller !important;
		padding: 0 0.5rem 0 @spacing-smaller !important;
	}

	.column,
	> .invalid {
		box-sizing: border-box;
		margin: 0 0 @spacing-smallish;
		padding: 0 0 0 @spacing-smallish;

		&.primary,
		&.secondary {
			width: 100%;
		}
	}

	&.two .column,
	&.two > .invalid {
		width: 50%;

		&.primary {
			width: calc(~'100% - @{spacing-huger}');
		}

		&.secondary {
			padding-left: @spacing-mid; width: @spacing-huger;
		}
	}

	&.three .column,
	&.three > .invalid {
		width: 33.33%;
	}

	&.four .column,
	&.four > .invalid {
		width: 25%;
	}
}

/*-----------------------------------------------------------------------------
	Special definition
-----------------------------------------------------------------------------*/

.columns .column.justified {
	padding-top: 2.1rem;
}
