/**
 * Associations are visualisations of associated entries in Symphony's backend.
 * They are hidden in Drawers by default and can be expanded on click.
 *
 * @since Symphony 2.3
 */


 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";


/*-----------------------------------------------------------------------------
	Vertical drawers
-----------------------------------------------------------------------------*/

#drawer-section-associations .contents {
	padding: @spacing-smallest @spacing-smaller;
}

.association {
	min-height: 3rem;
	margin-top: @spacing-smaller;
	color: @dark-grey;
	font-size: 85%;
}

.association + .association {
	margin-top: @spacing-smallest;
}

.empty + .empty {
	// margin-top: 0;
}

.association:last-of-type {
	padding-bottom: @spacing-smallest;
}

.association a {
	color: @dark-grey;
}

.association a:hover {
	color: @color-current;
}

.association:first-of-type header {
	padding-top: @spacing-micro;
}

.association header {
	padding-top: @spacing-smallest;
}

.association header p {
	margin: 0;
	padding: 0;
}

.association header i a {
	color: @dark-grey;
	border-bottom: none;
}

.association header i {
	float: right;
	margin-left: @spacing-micro;
}

.association .association-section {
	color: #323232;
}

.association-links {
	width: 26rem;
	margin: 0;
	padding: @spacing-micro 0 0;
}

.association-links li {
	display: block;
	box-sizing: border-box;
	line-height: 2;
	white-space: nowrap;
}

.association-links a,
.association-links a:hover {
	display: block;
	overflow: hidden;
	width: 26rem;
	line-height: 1.325;
	text-overflow: ellipsis;
	border-color: @lighter-grey;
	color: @blue;
}

.association-links li a::before {
	content: '\2192 ';
	margin-right: @spacing-micro;
}

.association-links.parent li a::before {
	content: '\2190 ';
	margin-right: @spacing-micro;
}

.association-more a {
	color: #a9a9a9;
}

.association-more a::before {
	content: '\00B7\00B7\00B7' !important;
}

.association-new {
	float: right;
	margin-top: -@spacing-smaller - @spacing-smallest;
}
