/**
 * Frames are used in different areas of the system to group content,
 * e. g. in the section or data source editor.
 *
 * @since: Symphony 2.3
 */


 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";
 

.frame {
	position: relative;
	box-sizing: border-box;
	margin: 0 0 @spacing-small;
	padding: 0;
	list-style: none;
	border: @bdr-current @lighter-grey;
	border-radius: @radius-current;
	background: @lightest-grey;
}

.frame h1 {
	margin: -(@spacing-smallest + @bdr-mid) -(@spacing-smallest - @bdr-mid) @spacing-smaller;
	padding: @spacing-smallest;
	color: @white;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	border-radius: @radius-current @radius-current 0 0;
	background: @darker-grey;
}

.frame.empty {
	height: 3rem;
	border: @bdr-alt @lighter-grey;
}

.frame::after {
	content: '';
	display: block;
	clear: both;
}

.frame ol,
.frame ul {
	margin: 0;
	padding: 0;
}

.frame .tags {
	margin-top: -@spacing-smallest;
	margin-bottom: @spacing-smaller;
}

/* Headers */

.frame-header {
	position: relative;
	padding: @spacing-smallest - .1;
	color: @color-current;
	border-top: @bdr-current fade(@light-grey, 0);
	border-bottom: @bdr-current @lighter-grey;
}

.frame .collapsed .frame-header {
	border-bottom: @bdr-current @lighter-grey;
}

.frame-header h4 {
	display: inline-block;
	font-weight: bold;
	font-size: 85%;
}

.frame-header span {
	margin: 0 0 0 @spacing-smallest;
	color: @dark-grey;
	font-weight: normal;
}

.frame-header .required {
	font-style: italic;
}

.main::before,
.sidebar::before {
	content: '';
	display: block;
	float: left;
	width: 0.1rem;
	height: @spacing-smallest;
	margin: @spacing-smallest * .75 @spacing-smallest * .75 0 0;
	border-right: @spacing-micro solid @light-grey;
	border-left: @spacing-micro * .75 solid @grey;
}

.sidebar::before {
	border-right: @spacing-micro solid #b8b8b8;
	border-left: @spacing-smallest solid #dcdcdc;
}

.highlight .main::before {
	border-right: @spacing-micro solid #b9b9b9;
	border-left: @spacing-smallest solid #747474;
}

.highlight .sidebar::before {
	border-right: @spacing-micro solid #747474;
	border-left: @spacing-smallest solid #b9b9b9;
}

/* Content: light scheme */

.frame .content {
	box-sizing: border-box;
	padding: @spacing-smallest;
	border-bottom: @bdr-current @lighter-grey;
}

.frame .instance:last-of-type .content {
	border-radius: 0 0 @radius-current @radius-current;
	border-bottom: none;
}

.frame .instance.collapsed:last-of-type .frame-header {
	border-bottom: none;
}

.frame .content::after {
	content: '';
	display: block;
	clear: both;
}

.frame .content fieldset {
	border-top-color: @light-grey;
}

/* Content: dark scheme */

.frame.dark .content {
	color: @white;
	background: @darker-grey;
}

.frame.dark legend {
	background: transparent;
}

.frame.dark i,
.frame.dark ul.tags {
	color: @dark-grey;
}

.frame.dark fieldset {
	border-top-color: @darker-grey;
}

/*--------------------------------------------------------------------------
	Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame,
fieldset.frame,
.frame.inline {
	display: block;
	margin-bottom: @spacing-smaller;
	padding: @spacing-smallest;
}

/*--------------------------------------------------------------------------
	Login
--------------------------------------------------------------------------*/

#login .frame {
	overflow: visible;
	width: @spacing-huge;
	margin: @spacing-large auto;
	padding: @spacing-smallest @spacing-smallest @spacing-smaller;
	text-align: left;
}

#login fieldset {
	padding: 0;
}

#login legend {
	display: none;
}

#login .action-link {
	float: left;
	margin-top: @spacing-micro;
}

#login button {
	float: right;
}

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

.frame .destructor,
.frame .debug {
	position: absolute;
	top: @spacing-smallest;
	right: @spacing-smallest;
	margin: 0;
	color: @light-grey;
	font-weight: normal;
	border-bottom: none;
	font-size: 85%;
}

.frame .destructor:hover,
.frame .debug:hover,
.frame .constructor:hover {
	color: @color-current;
}

.frame .disabled {
	color: @light-grey;
	opacity: 0.4;
	cursor: not-allowed;
}

/* Applicators */

.frame .apply {
	position: absolute;
	right: 0;
	bottom: -@spacing-mid - @spacing-smallest;
	clear: left;
	text-align: right;
	border-color: @lighter-grey;
	cursor: default;
}

.frame .apply:hover {
	border-color: @lighter-grey;
}

.frame .actions {
	margin: 0 0 @spacing-smallest;
}

.frame .actions input {
	margin-top: 0;
}

.frame .actions button {
	float: right;
}

/*-----------------------------------------------------------------------------
	Orderables and Selectables
-----------------------------------------------------------------------------*/

.orderable .frame-header,
.collapsible.orderable .ordering * {
	cursor: move;
}

.orderable .frame-header:hover {
	background-color: @lighter-grey;
}

.frame .selected,
.frame .ordering {
	position: relative;
}

.frame .selected .frame-header,
.frame .ordering .frame-header {
	background-color: @blue;
}

.frame .selected::after,
.frame .ordering::after {
	left: auto;
	right: 0;
}

.ordering .frame-header {
	color: #fff;
	background: @blue;
	transition: none;
	cursor: move;
}

.frame .ordering .frame-header span,
.frame .ordering .frame-header .destructor,
.frame .ordering .content i,
.frame .ordering ul.tags {
	color: #bdcbdd;
}

.frame .ordering .main::before {
	border-right: 0.3rem solid #7c9bc7;
	border-left: 0.6rem solid #cedaea;
}

.frame .ordering .sidebar::before {
	border-right: 0.3rem solid #cedaea;
	border-left: 0.6rem solid #7c9bc7;
}

.frame .highlight {
	background: @lightest-grey;
}

/*-----------------------------------------------------------------------------
	Collapsibles

	The duration of all transitions has to be set to the same time to prevent
	a "jump" in the animation because the class `.js-animate` is removed on
	the first `transitionend` event.
-----------------------------------------------------------------------------*/

// @TODO : there is a problem with the calculating of the max-height of drawers. It's related to the to the adding of a padding on the header on opening.
// see : .collapsible .instance:not(.collapsed) .frame-header

.collapsible .instance {
	overflow: hidden;
	padding-bottom: @spacing-smaller;
	background-color: ;
}

.collapsible .instance.collapsed {
	overflow: hidden;
	padding-bottom: 0;
}

.collapsible .instance,
.collapsible input,
.collapsible textarea,
.collapsible select,
.collapsible option {
	-webkit-font-smoothing: subpixel-antialiased !important;
}

.collapsible .frame-header {
	cursor: pointer;
}

.collapsible legend {
	padding-right: 0.5rem;
}

.frame .js-animate {
	overflow: hidden;
	transition: max-height @duration-short @easeInOutQuad;
}

.collapsed.js-animate,
.destructed.js-animate {
	transition: max-height @duration-short @easeInOutQuad;
}

.collapsible .js-animate {
	overflow: hidden;
}

.collapsed.js-animate .frame-header {
	border-bottom-color: @lighter-grey;
}

.collapsible .instance:not(.collapsed) .frame-header {
	border-top-color: fade(@light-grey, 40%);
	border-bottom-color: fade(@lighter-grey, 0);
	background-color: @lighter-grey;
	padding-top: @spacing-small;
}

.collapsible .frame-header:hover {
	background-color: fade(@lighter-grey, 50%);
}

.collapsible .instance.collapsed .frame-header:before,
.collapsible .instance.collapsed .frame-header h4 {
	transition: all @duration-shortest @easeInOutQuad;
}

.collapsible .instance.collapsed .frame-header:hover:before,
.collapsible .instance.collapsed .frame-header:hover h4 {
	transform: translateY(@spacing-micro);
}

.collapsible .instance:not(.collapsed) .frame-header:hover,
.collapsible .instance:not(.collapsed) .frame-header:hover ~ .content {
	background-color: fade(@light-grey, 40%);
}

.collapsible .frame-header ~ .content {
	background-color: @lighter-grey;
}

.collapsed .content {
	padding-top: 0;
}

/*-----------------------------------------------------------------------------
	Duplicators
-----------------------------------------------------------------------------*/

.duplicator {
	margin-bottom: @spacing-large;
}

.duplicator ol {
	margin-top: -0.1rem;
	border-radius: 0.4rem;
}

.frame .template {
	display: none;
}

/*-----------------------------------------------------------------------------
	Invalid states
-----------------------------------------------------------------------------*/

.invalid {
	display: block;
	box-sizing: border-box;
	margin: 0 0 1.5rem;
	padding: 1rem;
	color: #fff;
	border: 0.1rem solid #c31;
	border-radius: 0.4rem;
	background: #eb6347;
}

.invalid p {
	clear: both;
	margin: 0;
}

.invalid p,
.invalid a {
	color: rgba(255, 255, 255, 0.7);
}

.invalid a:hover {
	color: #fff;
}

.invalid label {
	margin-bottom: 1rem;
}

.invalid i {
	color: rgba(255, 255, 255, 0.5);
}

/* Errors */

.conflict.collapsed .frame-header {
	background: #fff9a2;
}

.conflict.ordering .frame-header {
	background: none;
}

.conflict.collapsed .frame-header span,
.conflict.collapsed .destructor {
	color: #bd7053;
}

.conflict.collapsed .frame-header::before {
	border-right: 0.3rem solid #e7a973;
	border-left: 0.6rem solid #bd7053;
}

.conflict.collapsed .frame-header.sidebar::before {
	border-right: 0.3rem solid #bd7053;
	border-left: 0.6rem solid #e7a973;
}

/*--------------------------------------------------------------------------
	Error messages
--------------------------------------------------------------------------*/

#error {
	padding: 10rem 5rem;
}

#error .frame {
	display: block;
	overflow: hidden;
	min-width: 50rem;
	max-width: 80rem;
	margin: 0 auto;
}

#error .frame::after {
	content: '';
	display: block;
	clear: both;
}

#error h1 {
	margin: 0;
}

#error .frame h1 em {
	color: rgba(255, 255, 255, 0.5);
	font-family: inherit;
	font-style: normal;
}

#error p {
	margin: 0;
	padding: 1rem;
}

#error .frame pre {
	font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}

#error .frame pre,
#error .frame ul ul {
	overflow: auto;
	padding: 1rem 0;
	background: #fefefe;
}

#error .content ul {
	margin: 0 -1rem;
}

#error .frame ul ul li {
	padding: 0 1rem;
	line-height: 1.8;
	white-space: nowrap;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}

#error .frame ul ul li.full {
	white-space: normal;
}

#error .frame ul ul:first-of-type li:first-of-type {
	border-top: none;
}

#error .frame .error {
	color: #bd7053;
	background-color: #fff9a2;
}
#error .frame .error b {
	display: inline-block;
	margin: -0.2rem 0 -0.1rem;
	padding: 0.2rem 0 0.1rem;
	color: #fff;
	line-height: 1.8;
	background: rgba(167, 31, 45, 0.7);
}

#error .frame code a {
	margin: 0;
}

#error .frame strong,
#error .frame em {
	color: rgba(0, 0, 0, 0.5);
	font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
	font-style: normal;
}

#error .frame .content {
	padding-bottom: 0;
	background: #fefefe;
}

#error .frame .content:last-of-type ul {
	border-radius: 0 0 0.4rem 0.4rem;
}

#error .frame .actions {
	padding: 1rem;
}
