/**
 * Associations are visualisations of associated entries in Symphony's backend.
 * They are hidden in Drawers by default and can be expanded on click.
 *
 * @since Symphony 2.3
 */


 /*-----------------------------------------------------------------------------
 	LESS — Variables Importing
 -----------------------------------------------------------------------------*/
 @import "variables";


/*-----------------------------------------------------------------------------
	Vertical drawers
-----------------------------------------------------------------------------*/

#drawer-section-associations .contents {
	padding: 0;
}

.association {
	color: @dark-grey; font-size: @text-short; font-weight: 300; padding: @spacing-smallerish @spacing-smallish; min-height: 3rem;
}

.association + .association {
	border-top: 1px solid @lighter-grey;
}

.association a {
	color: @accent;
}

.association a:hover {
	color: @black;
}

/*.association:first-of-type header {
	padding-top: @spacing-micro;
}

.association header {
	padding-top: @spacing-smallest;
}

.association header p {
	margin: 0;
	padding: 0;
}

.association header i a {
	color: @dark-grey;
	border-bottom: none;
}

.association header i {
	float: right;
	margin-left: @spacing-micro;
}*/

.association header p {
	color: @dark-grey;
}

.association .association-section {
	color: @black;
}

.association-links {
	margin: 0;
	padding: @spacing-smallest 0 0;
}

.association-links li {
	display: block;
	box-sizing: border-box;
	line-height: 2;
	white-space: nowrap;

	& + li {
		margin-top: @spacing-micro;
	}
}

.association-links a,
.association-links a:hover {
	display: block;
	overflow: hidden;
	width: 26rem;
	line-height: 1.325;
	text-overflow: ellipsis;
	border-color: @lighter-grey;
	color: @accent;
}

.association-links li a::before {
	content: '\2192 ';
	margin-right: @spacing-micro;
}

.association-links.parent li a::before {
	content: '\2190 ';
	margin-right: @spacing-micro;
}

.association-more a {
	color: #a9a9a9;
}

.association-more a::before {
	content: '\00B7\00B7\00B7' !important;
}

.association .association-new {
	border-radius: @radius-current;
	display: inline-block; color: @white; font-size: @text-shorter; font-weight: 300; text-transform: uppercase; margin: 0; padding: @spacing-smallest @spacing-smallerish; background: @accent;

	&:hover {
		color: @white;
	}
}
