@spacing-nano: .2rem;
@spacing-micro: .5rem;
@spacing-smallest: 1rem;
@spacing-smaller: 2rem;
@spacing-small: 4rem;
@spacing-mid: 6rem;
@spacing-large: 10rem;
@spacing-larger: 16rem;
@spacing-largest: 20rem;
@spacing-huge: 32rem;

@white: #ffffff;
@black: #121212;

@grey: #98A3AC;
@darker-grey: #3B3D40;
@dark-grey: #73797F;
@light-grey: #B7C2CC;
@lighter-grey: #EAEEF0;
@lightest-grey: #F4F8FA;

@blue: #5848DE;
@lightest-blue: #E8ECFD;
@red: #e90a20;

@bdr-small: 1px;
@bdr-mid: 2px;
@bdr-large: 4px;

@bdr-current: @bdr-mid solid;
@bdr-alt: @bdr-mid dashed;


@radius-small: 3px;
@radius-mid: 5px;
@radius-large: 10px;
@radius-current: @radius-mid;


@size-current: 1.5rem;
@color-current: @darker-grey;

@field-height-current: @spacing-small + @spacing-micro * .325;
@contents-max-width: 140rem;

@duration-shortest: 150ms;
@duration-shorter: 200ms;
@duration-short: 300ms;
@duration: 500ms;
@duration-long: 750ms;
@duration-longer: 1000ms;
@duration-longest: 1500ms;


@ease: ease-in-out;
@ease-in: ease-in;
@ease-out: ease-out;
@ease-in-out: ease-in-out;
@easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
@easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
@easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
@easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
@easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
@easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
@easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
@easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);