@micro-spacing: .5rem;
@smallest-spacing: 1rem;
@smaller-spacing: 2rem;
@small-spacing: 4rem;
@mid-spacing: 6rem;
@large-spacing: 10rem;
@larger-spacing: 16rem;
@largest-spacing: 20rem;
@huge-spacing: 32rem;

@grey: #98A3AC;
@darker-grey: #3B3D40;
@dark-grey: #73797F;
@light-grey: #B7C2CC;
// @lighter-grey: ;
@lightest-grey: #F4F8FA;

@blue: #5848DE;