a.gravatar {
	display: block; padding: 3rem 3rem 1rem; border-top: 1px solid #EAEEF0;
}

img.gravatar {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	display: block; position: relative; right: 0; top: 0; margin: 0 auto; border: 1px solid #EAEEF0; z-index: 12;
}


#nav li.backend_language_switcher {
	position: fixed;
	bottom: 0;
	align-self: center;
}

#nav li.backend_language_switcher img {
	margin: auto;
	display: block;
}

#nav li.backend_language_switcher.first {
	margin-left: 0 !important;
	margin-top: 40rem;
}