/* Gravatar */

a.gravatar {
	display: block; padding: 3rem 3rem 1rem; border-top: 1px solid #EAEEF0;
}

img.gravatar {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	display: block; position: relative; right: 0; top: 0; margin: 0 auto; border: 1px solid #EAEEF0; z-index: 12;
}

/* Language Switcher */

#nav li.backend_language_switcher {
	position: fixed; left: 0; bottom: 15px; width: 12rem;
}

#nav li.backend_language_switcher.first {
	left: 0; text-align: right; margin: 0;
}

#nav li.backend_language_switcher.last {
	left: 13rem; text-align: left; margin: 0;
}

#nav li.backend_language_switcher img {
	display: inline-block;
}

/* Field Multilingual */

.field-multilingual ul.tabs li {
	font-size: 68.7%; text-transform: uppercase; line-height: 1.4em; padding-bottom: 0.6rem;
}

.field-multilingual .container, .field-datetime {
	position: relative;
}

.field-multilingual .container > label,
.field-datetime > label {
	position: static;
}

/* Sandbox */

.editor-toolbar {
	margin-top: 0; border-color: #EAEEF0;
}

.CodeMirror {
	font-size: 1.6rem; border-color: #EAEEF0;
}

/* Publish Tab */

.tab-group {
	box-sizing: border-box;
}

.tab-group > h2 {
	color: ##3B3D40; font-size: 3.2rem; font-weight: 300; padding: 1rem 0 5rem;
}

.tab-group:first-child {
	overflow: auto;
	position: fixed!important; left: 25rem!important; right: 43rem; top: 8rem!important; bottom: 0; padding: 3rem; padding-right: 3rem; width: auto;
}

.tab-group:nth-child(2) {
	padding-top: 8rem;
}

.tab-group:nth-child(n + 2) {
	position: relative!important; left: 0!important; top: 0!important; margin-left: calc(100% - 40rem); padding-left: 3rem; padding-right: 3rem; width: 43rem;
}

.tab-group:nth-child(n + 3) {
	margin-top: 5rem; padding-top: 3rem; border-top: 1px solid #EAEEF0;
}

/* Tables */

table.selectable td.field-checkbox input.ajax-checkbox {
	display: block; margin: 0; padding: 0;
}